[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no
[ req_distinguished_name ]
countryName                 = TR
stateOrProvinceName         = Istanbul
localityName                = Istanbul
organizationName            = ErdemstarSec
commonName                  = Erdemstar Controller Webhook
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = erdemstar.validation.svc